@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #222;
	color: #f3f3f3;
	text-align: center;
	font-family: 'Maven Pro', sans-serif;
	font-size: 23px;
}
 *:focus { 
	outline: transparent !important; 
}
hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #333, #ccc, #333);
	width: 80%;
}
input {
	border: none;
	border-radius: 10px;
	padding: 10px 0;
	box-shadow: 0px 0px 3px #eee;
	-webkit-box-shadow: 0px 0px 3px #eee;
	-moz-box-shadow: 0px 0px 3px #eee;
	-o-box-shadow: 0px 0px 3px #eee;
	text-align: center;
}
::-webkit-input-placeholder {
	opacity: 0.7;
	font-weight: lighter;
}
h1 {
	padding: 55px 10px 30px;
}
.results {
	margin: 25px;
}
button {
	background-color: #1c1c1c;
	color: #f3f3f3;
	border: 1px solid #f3f3f3;
	border-radius: 50px;
	padding: 9px 15px;
	margin: 15px;
	box-shadow: 0px 0px 3px #eee;
	-webkit-box-shadow: 0px 0px 3px #eee;
	-moz-box-shadow: 0px 0px 3px #eee;
	-o-box-shadow: 0px 0px 3px #eee;
}

@media (max-width: 500px) {
	html, body {
		font-size: 18px;
	}
	html {
		padding: 0 15px;
	}
	input {
		padding-left: 5px;
		padding-right: 5px;
		width: 50%;
	}
}